/*************** 
MODEL SECTION
***************/
.s-m {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width > 770px) {
    /* margin-top: -150rem; */
    margin-top: 0;
  }
}
.s-m .h h2 {
  margin-inline: auto;
  font-size: 30rem;
  line-height: 33rem;
  color: black;
  margin-top: 0;
  text-align: center;
  & span {
    display: block;
  }
  @media (width > 770px) {
    text-align: left;
    margin-left: 60rem;
    font-size: 50rem;
    line-height: 40rem;
    & span {
      display: block;
      margin-top: 18rem;
      margin-left: 465rem;
    }
  }
}
.s-m .h p {
  margin-top: 25rem;
  font-size: 15rem;
  line-height: 18rem;
  letter-spacing: -0.02em;
  text-align: center;
  @media (width > 770px) {
    text-align: left;
    margin-top: 20rem;
    margin-left: calc(465rem + 60rem);
    font-size: 25rem;
    line-height: 30rem;
    max-width: 690rem;
  }
}
.s-m h2 {
  margin-top: 40rem;
  font-size: 30rem;
  color: var(--c-green);
  @media (width > 770px) {
    margin-top: 150rem;
    font-size: 50rem;
    line-height: 40rem;
  }
}
.s-m .c {
  margin-top: 24rem;
  position: relative;
  @media (width > 770px) {
    padding-left: 60rem;
    margin-top: 65rem;
  }
}
.s-m ul {
  display: flex;
  flex-direction: column;
  gap: 35rem;
  padding-left: calc(50rem - var(--p-i));
  width: 100%;

  @media (width > 770px) {
    width: fit-content;
    padding-left: 0;
  }
}
.s-m li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @media (width > 770px) {
    position: unset;
  }
}
.s-m li > span {
  font-size: 10rem;
  @media (width > 770px) {
    font-size: 20rem;
    width: 25rem;
  }
}
.s-m li h3 {
  margin-top: 8rem;
  margin-left: 8rem;
  font-size: 18rem;
  @media (width > 770px) {
    margin-left: 14rem;
    margin-top: 12rem;
    font-size: 30rem;
  }
}
.s-m li svg {
  position: absolute;
  right: 0;
  top: 12rem;
  width: 16rem;
  margin-left: auto;
  &.active {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
  }
  @media (width > 770px) {
    display: none;
  }
}
.s-m li.active h3 {
  color: var(--c-green);
}

.s-m li.active .co {
  display: flex;
}
.s-m li.active p {
  opacity: 1;
}
.s-m li.active figure {
  opacity: 1;
}

.s-m li .co {
  margin-top: 20rem;
  flex-basis: 100%;
  display: flex;
  gap: 20rem;
  display: none;
  padding-left: 18rem;
  @media (width > 770px) {
    margin-top: 0;
    padding-left: 0;
    display: flex;
  }
}
.s-m li figure {
  flex-shrink: 0;
  width: 100rem;
  aspect-ratio: 5/6;
  @media (width > 770px) {
    opacity: 0;
    width: 220rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.s-m li p {
  font-size: 14rem;
  line-height: 18rem;
  & span {
    display: block;
    margin-bottom: 24rem;
    line-height: 14rem;
    font-weight: 600;
  }
  @media (width > 770px) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 605rem;
    width: 315rem;
    font-size: 20rem;
    line-height: 25rem;
    padding-top: 12rem;
    & span {
      font-size: 20rem;
      line-height: 1;
      margin-bottom: 20rem;
    }
  }
}

.s-m .b {
  margin-top: 40rem;
  font-size: 14rem;
  @media (width > 770px) {
    margin-top: 60rem;
    font-size: 25rem;
  }
}