:root {
  --c-green: #6ba43a;
  --p-i: 20rem;
  --h-h: 108rem;
  --f-h: 128rem;
  --vh: calc(100vw * 9 / 16);
  @media (width > 770px) {
    --p-i: 75rem;
  }
}

/*******************
*  GLOBAL  */
/******************/
#p_ {
  opacity: 0;
  visibility: hidden;
}

/*******************
*  UTILS  */
/******************/

.d-s {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
.h-s {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.v-h {
  opacity: 0;
  visibility: hidden;
}
.m-o {
  @media (width > 770px) {
    display: none !important;
  }
}
.d-o {
  @media (width <= 770px) {
    display: none !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
