/*************** 
HERO SECTION
***************/

.s-he {
  position: relative;
}
.s-he img {
  position: absolute;
  width: 208rem;
  height: auto;
  top: 359rem;
  left: 60rem;
}
.s-he .c {
  /* display: none; */
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  top: 0;
  left: 0;
}
.s-he h1 {
  position: absolute;
  top: 50%;
  left: 630rem;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  transform: translateY(-50%);
  font-size: 50rem;
  line-height: 1;
  font-weight: normal;
  max-width: 750rem;
}
.s-he .t2 {
  font-size: 40rem;
  line-height: 120%;
  max-width: 690rem;
}

/*************** 
ABOUT SECTION
***************/
.s-a {
  position: relative;
  /* height: 100vh;
  height: 100dvh;
  min-height: calc(max(100vh, var(--vh))); */
  overflow-x: hidden;
}
.s-a .c {
  position: absolute;
  /* top: 50%; */
  top: 180rem;
  left: 460rem;
  /* transform: translateY(-50%); */
}
.s-a .c > div {
  font-size: 30rem;
  line-height: 1;
  font-family: "sg";
  color: var(--c-green);
  max-width: 660rem;
  &:last-of-type {
    color: black;
    margin-top: 48rem;
    margin-left: 125rem;
  }
}

/* .s-a button {
  border: 2px solid white;
  color: white;
  font-size: 15rem;
  padding: 12rem 32rem;
  font-family: "sg";
} */
.s-a svg {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  pointer-events: none;
}

/*************** 
SECTORS SECTION
***************/
.s-s {
  @media (width > 770px) {
    padding-top: 200rem;
    display: flex;
    align-items: flex-start;
  }
}
.s-s .l {
  margin-left: var(--p-i);
  @media (width > 770px) {
    width: 400rem;
    position: sticky;
    top: 315rem;
    height: calc(100vh - 200rem);
    height: calc(100dvh - 200rem);
  }
}

.s-s .l h2 {
  font-size: 30rem;
  line-height: 1;
  max-width: 200rem;
  @media (width > 770px) {
    max-width: unset;
  }
}

.s-s .r {
  margin-top: 40rem;
  margin-left: 90rem;
  overflow: hidden;
  position: relative;
  @media (width > 770px) {
    position: unset;
    overflow: unset;
    margin-left: 245rem;
    margin-top: 0;
  }
}
.s-s nav {
  position: absolute;
  top: 0;
  right: var(--p-i);
  display: flex;
  gap: 8rem;
  z-index: 1;
  @media (width > 770px) {
    display: none;
  }
}
.s-s nav svg:first-child {
  transform: rotate(-180deg);
}
.s-s ul {
  display: flex;
  @media (width > 770px) {
    display: block;
  }
}
.s-s li {
  @media (width > 770px) {
    position: relative;
    height: calc(max(80vh, 0.8 * var(--vh)));
  }
}
.s-s li span {
  font-family: "sg";
  font-size: 20rem;
  line-height: 1;
  @media (width > 770px) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(-100% - 20rem), calc(-100% + 4rem));
    font-size: 30rem;
  }
}
.s-s li img {
  aspect-ratio: 3/4;
  width: 310rem;
  height: auto;
  margin-top: 16rem;
  @media (width > 770px) {
    margin-top: 0;
    aspect-ratio: unset;
    width: 720rem;
  }
}
.s-s li p {
  max-width: 250rem;
  margin-top: 12rem;
  font-size: 15rem;
  line-height: 22rem;
  font-weight: 600;
  @media (width > 770px) {
    max-width: 484rem;
    margin-top: 8rem;
    font-size: 25rem;
    line-height: 30rem;
  }
}
/*************** 
MODEL SECTION
***************/
.s-m {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width > 770px) {
    /* margin-top: -150rem; */
    margin-top: 0;
  }
}
.s-m .h h2 {
  margin-inline: auto;
  font-size: 30rem;
  line-height: 33rem;
  color: black;
  margin-top: 0;
  text-align: center;
  & span {
    display: block;
  }
  @media (width > 770px) {
    text-align: left;
    margin-left: 60rem;
    font-size: 50rem;
    line-height: 40rem;
    & span {
      display: block;
      margin-top: 18rem;
      margin-left: 465rem;
    }
  }
}
.s-m .h p {
  margin-top: 25rem;
  font-size: 15rem;
  line-height: 18rem;
  letter-spacing: -0.02em;
  text-align: center;
  @media (width > 770px) {
    text-align: left;
    margin-top: 20rem;
    margin-left: calc(465rem + 60rem);
    font-size: 25rem;
    line-height: 30rem;
    max-width: 690rem;
  }
}
.s-m h2 {
  margin-top: 40rem;
  font-size: 30rem;
  color: var(--c-green);
  @media (width > 770px) {
    margin-top: 150rem;
    font-size: 50rem;
    line-height: 40rem;
  }
}
.s-m .c {
  margin-top: 24rem;
  position: relative;
  @media (width > 770px) {
    padding-left: 60rem;
    margin-top: 65rem;
  }
}
.s-m ul {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 35rem;
  margin-left: calc(50rem - var(--p-i));

  @media (width > 770px) {
    margin-left: 0;
  }
}
.s-m li {
  display: flex;
  flex-wrap: wrap;
  @media (width > 770px) {
  }
}
.s-m li.active h3 {
  color: var(--c-green);
}

.s-m li.active .co {
  display: flex;
}
.s-m li.active p {
  opacity: 1;
}
.s-m li.active figure {
  opacity: 1;
}

.s-m li > span {
  font-size: 10rem;
  @media (width > 770px) {
    font-size: 20rem;
    width: 25rem;
  }
}
.s-m li h3 {
  margin-top: 8rem;
  margin-left: 8rem;
  font-size: 20rem;
  @media (width > 770px) {
    margin-left: 14rem;
    margin-top: 12rem;
    font-size: 30rem;
  }
}

.s-m li .co {
  margin-top: 20rem;
  flex-basis: 100%;
  display: flex;
  gap: 20rem;
  display: none;
  padding-left: 18rem;
  @media (width > 770px) {
    padding-left: 0;
    display: flex;
  }
}
.s-m li figure {
  flex-shrink: 0;
  width: 100rem;
  aspect-ratio: 5/6;
  @media (width > 770px) {
    opacity: 0;
    width: 220rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.s-m li p {
  font-size: 14rem;
  line-height: 18rem;
  & span {
    display: block;
    margin-bottom: 24rem;
    line-height: 14rem;
    font-weight: 600;
  }
  @media (width > 770px) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 605rem;
    width: 315rem;
    font-size: 20rem;
    line-height: 25rem;
    padding-top: 12rem;
    & span {
      font-size: 20rem;
      line-height: 1;
      margin-bottom: 20rem;
    }
  }
}

.s-m .b {
  margin-top: 40rem;
  font-size: 14rem;
  @media (width > 770px) {
    margin-top: 60rem;
    font-size: 25rem;
  }
}

/*************** 
WHY SECTION
***************/
.s-w {
  padding-top: 80rem;
  @media (width > 770px) {
    padding-top: 150rem;
  }
}
.s-w h2 {
  margin-left: 20rem;
  font-size: 30rem;
  line-height: 32rem;
  @media (width > 770px) {
    margin-left: 180rem;
    font-size: 60rem;
    line-height: 1;
  }
}
.s-w .c {
  margin-top: 40rem;
  position: relative;
  @media (width > 770px) {
    margin-top: 0;
  }
}
.s-w .c > div {
  position: absolute;
  &:nth-child(1) {
    top: 0;
    left: 90rem;
  }
  &:nth-child(2) {
    top: 180rem;
    left: 218;
  }
  &:nth-child(3) {
    top: 340rem;
    left: 96rem;
  }
  &:nth-child(4) {
    top: 520rem;
    left: 218rem;
  }
  &:nth-child(5) {
    top: 725rem;
    left: 116rem;
  }

  @media (width > 770px) {
    &:nth-child(1) {
      top: 0;
      left: 905rem;
    }
    &:nth-child(2) {
      top: 220rem;
      left: 240rem;
    }
    &:nth-child(3) {
      top: 380rem;
      left: 905rem;
    }
    &:nth-child(4) {
      top: 515rem;
      left: 240rem;
    }
    &:nth-child(5) {
      top: 690rem;
      left: 905rem;
    }
  }
}
.s-w span {
  display: block;
  font-family: "sg";
  color: var(--c-green);
  font-size: 30rem;
  line-height: unset;
  @media (width > 770px) {
    font-size: 60rem;
    line-height: 1;
  }
}
.s-w p {
  margin-top: 5rem;
  font-size: 18rem;
  letter-spacing: -0.02em;
  max-width: 170rem;
  @media (width > 770px) {
    font-size: 30rem;
    margin-top: 45rem;
    max-width: 330rem;
  }
}
.s-w :global(#why-line-d) {
  display: none;
  @media (width > 770px) {
    display: block;
  }
}
.s-w :global(#why-line-m) {
  @media (width > 770px) {
    display: none;
  }
}
.s-w svg g {
  /* opacity: 0; */
}

/*************** 
QUOTE SECTION
***************/
.s-q {
  margin-top: 80rem;
  padding-bottom: 80rem;
  text-align: center;
  @media (width > 770px) {
    margin-top: 180rem;
    padding-bottom: 120rem;
  }
}
.s-q h2 {
  font-size: 30rem;
  line-height: 1;
  @media (width > 770px) {
    font-size: 60rem;
    & br {
      display: none;
    }
  }
}
.s-q p {
  margin-top: 16rem;
  margin-inline: auto;
  font-size: 15rem;
  line-height: 22rem;
  max-width: 250rem;
  @media (width > 770px) {
    margin-top: 42rem;
    font-size: 30rem;
    line-height: 40rem;
    max-width: unset;
  }
}
.s-q button {
  margin-top: 20rem;
  display: inline;
  font-size: 10rem;
  font-family: "sg";
  color: var(--c-green);
  border: 1px solid var(--c-green);
  border-radius: 100px;
  & a {
    display: block;
    padding: 8rem 12rem;
  }
  @media (width > 770px) {
    margin-top: 44rem;
    font-size: 15rem;
    & a {
      padding: 16rem 20rem;
    }
  }
}
