:global(#p_) {
  opacity: 1 !important;
  visibility: visible !important;
}

._ {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
._ figure {
  width: 100%;
  height: 100%;
}
