.h {
  padding-top: var(--p-i);
  padding-inline: var(--p-i);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 9999;
  /* opacity: 1 !important;
  visibility: visible !important; */

  @media (width > 770px) {
    padding-inline: 33rem 45rem;
    padding-top: 28rem;
    /* opacity: 0;
    visibility: hidden; */
  }
}
.h:global(.fixed) {
  position: fixed;
  top: 0;
  left: 0;
}
.h-ph {
  height: var(--h-h);
}

.l {
  width: 50rem;
  @media (width > 770px) {
    width: 80rem;
  }
}

.h nav {
  display: none;
  @media (width > 770px) {
    display: flex;
    gap: 40rem;
  }
}
.h nav a {
  width: fit-content;
  font-size: 15rem;
  display: block;
  position: relative;
}

.h nav a:global(.active) {
  &:after {
    content: "";
    position: absolute;
    top: 60%;
    left: -12rem;
    transform: translate(-100%, -50%);
    width: 8rem;
    height: 8rem;
    background-color: var(--c-green);
    filter: blur(2rem);
    border: 1px solid var(--c-green);
    border-radius: 20rem;
  }
}

/*******************
MENU BUTTON / ICON
********************/
:global(#menu-btn) {
  margin-left: auto;
  position: relative;
  z-index: 999;
  cursor: pointer;
  @media (width > 770px) {
    display: none;
  }
}

.menu_i {
  position: relative;
  width: 40rem;
  height: 20rem;
}

.menu_i span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  /* transform-origin: center; */
  position: absolute;
  left: 0;
  transition: all 0.3s ease-out;

  &:nth-child(1) {
    top: 6rem;
  }
  &:nth-child(2) {
    bottom: 6rem;
  }
}
.menu_i.open span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.menu_i.open span:nth-child(2) {
  bottom: 50%;
  transform: rotate(-45deg);
}

/*******************
MENU DRAWER
********************/
.menu {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24rem;
  z-index: 999;
  background-color: white;
  @media (width > 770px) {
    display: none;
  }
}
.menu a {
  font-size: 30rem;
  font-family: "sg";
}
.menu img {
  width: 1000rem;
  position: absolute;
  top: 320rem;
  left: -235rem;
  z-index: -1;
}
