.h {
  padding-top: 35rem;
  padding-inline: var(--p-i);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (width > 770px) {
    padding-inline: 33rem 45rem;
    padding-top: 28rem;
  }
}
.h:global(.fixed) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.h-ph {
  height: var(--h-h);
}

.l {
  width: 80rem;
  @media (width > 770px) {
    width: 120rem;
  }
}

.h nav {
  display: none;
  @media (width > 770px) {
    display: flex;
    gap: 64rem;
  }
}
.h nav a {
  width: fit-content;
  font-size: 15rem;
  display: block;
  position: relative;
}

.h nav a:global(.active) {
  &:after {
    content: "";
    position: absolute;
    top: 60%;
    left: -12rem;
    transform: translate(-100%, -50%);
    width: 14rem;
    height: 14rem;
    background-color: var(--c-green);
    filter: blur(4rem);
    border: 1px solid var(--c-green);
    border-radius: 20rem;
  }
}
