.f {
  border-top: 1px solid white;
  padding-inline: var(--p-i);
  padding-block: 28rem 40rem;
  display: flex;
  align-items: center;
}

.f div:nth-of-type(1) {
  flex: 1;
  font-size: 15rem;
}

.f div:nth-of-type(2) {
  flex-shrink: 0;
  width: 110rem;
}

.f div:nth-of-type(3) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15rem;
  font-size: 20rem;
}
