.f {
  border-top: 1px solid white;
  padding-inline: var(--p-i);
  padding-block: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (width > 770px) {
    flex-direction: row;
    align-items: center;
  }
}

.f div:nth-of-type(1) {
  flex: 1;
  order: 1;
  font-size: 10rem;
  @media (width > 770px) {
    order: unset;
    font-size: 15rem;
  }
}

.f div:nth-of-type(2) {
  flex-shrink: 0;
  width: 55rem;
  @media (width > 770px) {
    width: 80rem;
  }
}

.f div:nth-of-type(3) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15rem;
  font-size: 10rem;
  margin-block: 35rem 28rem;
  @media (width > 770px) {
    font-size: 12rem;
  }
}
