/*******************
*  FONTS  */
/******************/
@font-face {
  font-family: "b";
  src: url("@/assets/fonts/b-r.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "b";
  src: url("@/assets/fonts/b-sb.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "sg";
  src: url("@/assets/fonts/sg-r.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*
* THIS FILES IS FOR RESETTING SOME OF THE DEFAULTS STYLES
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
  font-size: calc(100vw / 1440);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  @media (width < 770px) {
    font-size: calc(100vw / 400);
  }
}
body {
  font-size: 15rem;
  font-family: "b";
  user-select: none;
}
h1,
h2,
h3,
h4 {
  font-family: "sg";
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-drag: none;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}
input,
fieldset {
  background-color: transparent;
  display: block;
  outline: none;
  border: none;
}
